* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.title {
  margin-top: 20px;
  font-size: 40px;
}

.layout-page {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
