.card-box {
    width: 300px;
    min-width: 25%;
    height: 120px;
    border: 2px solid rgb(152, 150, 150);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex: 1 1 auto;
}

.info-card {
    width: 50%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;

}

.img-card {
    width: 50%;
    display: flex;
    justify-content: center;
}